<h1 class="mt-3">Pipes <small>Angular</small></h1>
<hr>

<div class="row">
  <div class="col">

    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th>Variable</th>
          <th>Pipe</th>
          <th>Resultado</th>

        </tr>


      </thead>

      <tbody>

      <tr>
        <!-- LLamo al nobre con una interpolacion e injection -->
        <td>{{nombre}}</td>
        <td> uppercase</td>
        <td>{{nombre | uppercase}}</td>
      </tr>

      <tr>
        <!-- LLamo al nobre con una interpolacion e injection -->
        <td>{{nombre}}</td>
        <td> lowercase</td>
        <td>{{nombre | lowercase}}</td>
      </tr>

      <tr>
        <!-- Corta las primeras letras. -->
        <td>{{nombre}}</td>
        <td> slice:4</td>
        <td>{{nombre | slice:4}}</td>
      </tr>

      <tr>
        <!-- Corta las primeras letras pero muestra un rango hasta una maxima. -->
        <td>{{nombre}}</td>
        <td> slice:4:12</td>
        <td>{{nombre | slice:4:12}}</td> <!--se muestra desde el caracter 4 hasta el 12 -->
      </tr>

      <tr>
        <!-- Enmascara los numeros, mostrando y adaptando a la necesidad -->
        <td>{{PI}}</td>
        <td> number:'.0-2' </td>
        <td>{{PI | number:'.0-2'}}</td> <!-- number: ' cantidad de numero enteros.0-cantidad de decimales o 0'-->
      </tr>

      <tr>
        <!-- Muestra un porcentaje -->
        <td>{{porcentaje}}</td>
        <td>percent:'2.2-2'</td>
        <td>{{porcentaje | percent:'2.2-2'}}</td> <!-- number: ' cantidad de numero enteros.0-cantidad de decimales o 0'-->
      </tr>

      <tr>
        <!-- muestra la moneda indicada -->
        <td>{{salario}}</td>
        <td> currency:'EUR':'symbol-narrow':'.0-0' </td>
        <td>{{salario | currency:'EUR':'symbol-narrow':'.0-0'}}</td> <!--Currency *codigo de lugar*, symbol, y lo siguiente es para no mostrar el porcentaje-->
      </tr>

      <tr>
        <!-- async, se ejecuta de manera gestionada -->
        <td>{{valorPromesa}}</td>
        <td> async</td>
        <td>{{valorPromesa | async }}</td> <!-- Al serr un objeto se puede poner un json-->
      </tr>

      <tr>
        <!-- fecha -->
        <td>{{fecha}}</td>
        <td> date</td>
        <td>{{fecha | date}}</td>
      </tr>

      <tr>
        <!-- fecha medium -->
        <td>{{fecha}}</td>
        <td> date:'medium'</td>
        <td>{{fecha | date:'medium'}}</td>
      </tr>


      <tr>
        <!-- fecha modificada a gusto -->
        <td>{{fecha}}</td>
        <td> date:'YY-MMMM-dd</td>
        <td>{{fecha | date:'YY-MMMM-dd'}}</td>
      </tr>

      <tr>
        <!-- fecha modifica idioma -->
        <td>{{fecha}}</td>
        <td> date:'YY-MMMM-dd':'':'en'</td>
        <td>{{fecha | date:'YY-MMMM-dd':'':'en'}}</td> <!--en ingles-->
      </tr>

      <tr>
        <!-- fecha modifica idioma (pero con una variable y botones)-->
        <td>{{fecha}}</td>
        <td> date:'YY-MMMM-dd':'':'{{idioma}}',<br>
            <button (click)="idioma='es'" class="mr-1 btn btn-primary ">Español</button>
            <button (click)="idioma='en'" class="mr-1 btn btn-success">Ingles</button>
            <button (click)="idioma='fr'" class="mr-1 btn btn-warning">Frances</button>
        </td>
        <td>{{fecha | date:'YY-MMMM-dd':'':idioma}}</td> <!--en ingles-->
      </tr>

      <tr>
        <!-- pipe personalizada, se crea apartir de la terminar:"ng g p pipe/capitalizada" ( en este caso) -->
        <td>{{frase}}</td>
        <td>capitalizado <br>
          <button (click)="cambiarTodas=!cambiarTodas" class="mr-1 btn btn-danger ">Cambiar</button>
        </td>
        <td>{{frase | capitalizado: cambiarTodas}}</td>
      </tr>


      <tr>
        <!-- ocultar contraseña(solo cambia a asteristicos, pero misma longitud) -->
        <td>{{nombre}}</td>
        <td> contrasena: {{activo}}
          <br>
          <button (click)="activo=!activo">ver/ocultar</button>
        </td>
        <td>{{nombre | contrasena:activo}}</td>
      </tr>

      </tbody>
    </table>
  </div>
</div>

  <br>
  <h3>JSON</h3>
  <hr>
  <div class="row mb-5">
    <div class="col">
      <pre>
        {{personaje | json}}
      </pre>
    </div>
  </div>
